VITE_FIREBASE_API_KEY=AIzaSyAhkpOJXa4M5Q7af2HmbZwylIPs87cn8Fc
VITE_FIREBASE_AUTH_DOMAIN=opengym-b803c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=opengym-b803c
VITE_FIREBASE_STORAGE_BUCKET=opengym-b803c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=727557352655
VITE_FIREBASE_APP_ID=1:727557352655:web:19c976517c0a1a124b1bba
VITE_FIREBASE_MEASUREMENT_ID=G-DB6YR7ZXST
